.device LFE5U-12F

.comment Part: LFE5U-12F-6CABGA381

.tile CIB_R16C1:CIB_LR
arc: H00L0100 E1_H02W0301
arc: JA0 H00L0100
arc: JA3 E1_H02W0501
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R17C1:CIB_LR
arc: JA0 V02N0501
arc: JA3 E1_H02W0501
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R18C1:CIB_LR
arc: N1_V02N0501 E1_H02W0501
arc: S1_V02S0501 E1_H02W0501

.tile CIB_R19C1:CIB_LR
arc: JA0 V02S0501
arc: JA3 E1_H02W0501
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R1C50:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C51:CIB
arc: JA0 V02N0701
arc: W1_H02W0501 V06N0303
enum: CIB.JB0MUX 0

.tile CIB_R1C57:CIB
arc: E1_H02E0701 V02N0701

.tile CIB_R1C58:CIB
arc: JA0 H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C60:CIB
arc: JA0 V02N0701
enum: CIB.JB0MUX 0

.tile CIB_R22C1:CIB_LR
arc: JA3 E1_H02W0501
enum: CIB.JB3MUX 0

.tile CIB_R24C1:CIB_LR
arc: S1_V02S0501 E1_H02W0501

.tile CIB_R25C1:CIB_LR_S
arc: JA3 V02S0501
enum: CIB.JB3MUX 0

.tile CIB_R29C71:CIB_LR
arc: H00L0100 V02N0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R2C71:CIB_LR
arc: H00L0100 V02N0101
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R30C71:CIB_LR
arc: N1_V02N0301 W1_H02E0301
arc: S1_V02S0301 W1_H02E0301

.tile CIB_R31C71:CIB_LR
arc: S1_V02S0301 W3_H06E0003

.tile CIB_R32C71:CIB_LR
arc: H00L0100 N1_V02S0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R33C71:CIB_LR
arc: S1_V02S0601 N1_V02S0301

.tile CIB_R35C71:CIB_LR
arc: H00L0100 V02N0301
arc: JA0 H00L0100
arc: JA3 V00T0000
arc: V00T0000 N1_V02S0601
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R36C71:CIB_LR
arc: N1_V02N0301 W1_H02E0301

.tile CIB_R3C71:CIB_LR
arc: N1_V02N0101 W1_H02E0101

.tile CIB_R44C71:CIB_LR
arc: W3_H06W0303 JQ5

.tile CIB_R49C1:CIB_LR_S
arc: E1_H02E0601 E1_H01W0000

.tile CIB_R49C2:CIB_PLL2
arc: H00L0100 H02W0301
arc: H01W0000 JF0
arc: JA4 V00T0100
arc: JB1 H02W0301
arc: JB4 H02W0101
arc: JC2 H00L0100
arc: JC4 V00T0000
arc: JD2 V00T0100
arc: JD3 H02W0201
arc: JD4 H02W0201
arc: JLSR0 V00T0100
arc: V00T0000 H02W0201
arc: V00T0100 H02W0101
arc: PLLCSOUT_PLLREFCS CLK1_PLLREFCS

.tile CIB_R49C3:CIB_PLL3
arc: JCLK0 V00B0000
arc: V00B0000 W1_H02E0601
arc: W1_H02W0101 N1_V01S0100
arc: W1_H02W0201 N1_V02S0201
arc: W1_H02W0301 N1_V01S0100
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R49C69:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile MIB_R0C50:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C51:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C58:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C60:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C69:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R13C31:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0300

.tile MIB_R13C32:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0300

.tile MIB_R13C3:DSP_SPINE_UL1
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile MIB_R15C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4

.tile MIB_R16C0:PICL2
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R17C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R18C0:PICL1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE NONE
enum: PIOB.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4

.tile MIB_R19C0:PICL2_DQS1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C0:BANKREF7A
enum: BANK.VCCIO 3V3

.tile MIB_R1C50:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C51:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C58:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C60:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C72:BANKREF2A
enum: BANK.VCCIO 3V3

.tile MIB_R21C0:PICL1_DQS3
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R22C0:PICL2
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R24C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R25C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R25C3:LMID_0
arc: G_LDCC3CLKI G_JLLCPLL0CLKOP

.tile MIB_R26C0:PICL0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R27C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE NONE

.tile MIB_R29C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R2C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R30C72:PICR1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R32C72:PICR0_DQS2
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R33C72:PICR1_DQS3
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R35C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R36C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R37C31:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0300

.tile MIB_R37C32:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0300

.tile MIB_R37C59:EBR_SPINE_LR1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R3C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R44C72:PICR0_DQS2
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R45C72:PICR1_DQS3
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE DOWN

.tile MIB_R50C2:PLL0_LL
arc: N1_CLKFB N1_JCLKFB3
arc: N1_REFCLK1 N1_JREFCLK1_2

.tile MIB_R50C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R50C71:BANKREF3
enum: BANK.VCCIO 3V3

.tile R10C51:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R11C42:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R12C63:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R16C3:PLC2
arc: W1_H02W0301 S1_V02N0301
arc: W1_H02W0501 S1_V02N0501

.tile R16C51:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R17C12:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R17C18:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R17C24:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R17C30:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R17C36:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R17C3:PLC2
arc: S3_V06S0003 H06W0003
arc: W1_H02W0501 V02N0501

.tile R17C42:PLC2
arc: F0 F0_SLICE
arc: N3_V06N0003 F0
arc: W3_H06W0003 F0
word: SLICEA.K0.INIT 1111111111111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1

.tile R17C6:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R18C15:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R18C21:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R18C27:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R18C33:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R18C39:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R18C3:PLC2
arc: N1_V02N0301 S3_V06N0003
arc: N1_V02N0501 S3_V06N0303
arc: V01S0100 S3_V06N0303
arc: W1_H02W0501 E3_H06W0303

.tile R18C45:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R18C51:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R18C57:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R18C63:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: W3_H06W0003 S3_V06N0003

.tile R18C9:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R19C3:PLC2
arc: W1_H02W0501 N1_V01S0100

.tile R22C3:PLC2
arc: W1_H02W0501 S1_V02N0501

.tile R22C51:PLC2
arc: N3_V06N0103 E3_H06W0103

.tile R22C57:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R22C63:PLC2
arc: W3_H06W0103 S3_V06N0103

.tile R23C3:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R24C15:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R24C21:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R24C27:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R24C33:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R24C39:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R24C3:PLC2
arc: N1_V02N0501 S3_V06N0303
arc: N3_V06N0003 E3_H06W0003
arc: N3_V06N0303 S3_V06N0303
arc: W1_H02W0501 E3_H06W0303

.tile R24C45:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R24C51:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R24C57:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R24C63:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: W3_H06W0003 S3_V06N0003

.tile R24C9:PLC2
arc: W3_H06W0003 E3_H06W0303
arc: W3_H06W0303 E3_H06W0303

.tile R28C63:PLC2
arc: N3_V06N0103 S1_V02N0201

.tile R29C3:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R2C42:PLC2
arc: E3_H06E0103 V06N0103

.tile R2C48:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: E3_H06E0203 W3_H06E0103

.tile R2C51:PLC2
arc: N1_V02N0701 H06E0203

.tile R2C54:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R2C57:PLC2
arc: N1_V02N0701 H06E0203

.tile R2C60:PLC2
arc: N1_V02N0701 W3_H06E0203

.tile R30C15:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R30C21:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R30C27:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R30C33:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R30C39:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R30C3:PLC2
arc: N3_V06N0303 E3_H06W0303
arc: S3_V06S0303 E3_H06W0303

.tile R30C45:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R30C51:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R30C57:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R30C62:PLC2
arc: V00B0000 H02W0601
arc: V00B0100 E1_H02W0501
arc: A1 V02N0701
arc: B1 V01N0001
arc: C1 S1_V02N0601
arc: CLK0 G_HPBX0000
arc: D1 V00B0100
arc: E1_H02E0101 Q1
arc: F1 F1_SLICE
arc: LSR1 V00B0000
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: S1_V02S0301 Q1
word: SLICEA.K1.INIT 0111000011110000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_

.tile R30C63:PLC2
arc: V00B0100 V02N0301
arc: W1_H02W0601 S1_V02N0601
arc: CE0 S1_V02N0201
arc: CLK0 G_HPBX0000
arc: E3_H06E0003 F0
arc: F0 F0_SLICE
arc: LSR0 V00B0100
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: N1_V02N0201 Q0
arc: N3_V06N0003 F0
arc: S3_V06S0003 F0
arc: W3_H06W0003 F0
word: SLICEA.K0.INIT 0000000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET SET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R30C64:PLC2
arc: S1_V02S0101 W1_H02E0101
arc: W1_H02W0501 S1_V02N0501

.tile R30C69:PLC2
arc: E1_H02E0301 W3_H06E0003

.tile R30C9:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R31C62:PLC2
arc: E1_H02E0301 V01N0101
arc: H00R0000 H02W0601
arc: H00R0100 E1_H02W0501
arc: N1_V02N0701 E1_H02W0701
arc: S1_V02S0001 E1_H02W0001
arc: S1_V02S0101 E1_H01W0100
arc: V00B0000 H02W0601
arc: V00B0100 E1_H02W0501
arc: A0 F5
arc: A1 F5
arc: A3 F5
arc: A5 V02N0301
arc: B0 E1_H02W0301
arc: B1 E1_H02W0301
arc: B3 H00R0000
arc: B5 V02N0501
arc: C0 H00R0100
arc: C1 H00R0100
arc: C3 V02N0401
arc: C5 V00T0000
arc: CLK0 G_HPBX0000
arc: D0 V02N0201
arc: D1 E1_H02W0201
arc: D3 V00B0100
arc: D5 E1_H02W0001
arc: E1_H01E0101 F3
arc: E1_H02E0101 Q1
arc: E1_H02E0201 Q0
arc: E1_H02E0501 F5
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F3 F3_SLICE
arc: F5 F5_SLICE
arc: LSR0 V00B0000
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: N1_V01N0001 F5
arc: S1_V02S0701 F5
arc: V00T0000 Q0
arc: V01S0000 Q0
arc: V01S0100 Q1
word: SLICEC.K1.INIT 0001000000000000
word: SLICEB.K1.INIT 0010000000000000
word: SLICEA.K1.INIT 0111111100000000
word: SLICEA.K0.INIT 0111111100000000
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_

.tile R31C63:PLC2
arc: E1_H02E0201 S1_V02N0201
arc: N1_V02N0301 H01E0101
arc: S1_V02S0301 E1_H01W0100
arc: V00B0100 H02E0501
arc: V00T0000 H02W0001
arc: W1_H02W0601 V02N0601
arc: A0 F7
arc: A1 F7
arc: A4 H02E0501
arc: A7 V02N0101
arc: B0 V02N0301
arc: B1 V02N0301
arc: B4 H02E0301
arc: B7 V02N0501
arc: C0 V02N0601
arc: C1 V02N0601
arc: C4 Q4
arc: C7 V00T0000
arc: CLK0 G_HPBX0000
arc: D0 H00R0000
arc: D1 H00R0000
arc: D4 E1_H01W0100
arc: D7 H02E0201
arc: F0 F5A_SLICE
arc: F1 FXA_SLICE
arc: F2 F5B_SLICE
arc: F4 F4_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q4
arc: H01W0100 Q4
arc: LSR0 E1_H02W0501
arc: M0 V00B0100
arc: M1 E1_H02W0001
arc: M2 V00B0100
arc: MUXCLK2 CLK0
arc: MUXLSR2 LSR0
arc: V01S0000 F1
arc: V01S0100 Q4
word: SLICED.K1.INIT 0000000000000100
word: SLICEA.K0.INIT 0000000000001000
word: SLICEA.K1.INIT 0000000000001011
word: SLICEC.K0.INIT 0000110100001111
word: SLICEB.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 0000000000000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R31C64:PLC2
arc: H00R0100 H02W0501
arc: W1_H02W0201 V02N0201
arc: W1_H02W0301 V02N0301
arc: A0 W1_H02E0501
arc: A2 W1_H02E0501
arc: A7 V02S0101
arc: B0 V02N0301
arc: B2 V02N0301
arc: B7 W1_H02E0101
arc: C0 V02N0601
arc: C2 H00R0100
arc: C7 V02N0001
arc: CLK0 G_HPBX0000
arc: D0 V01S0100
arc: D2 V01S0100
arc: D7 H02E0201
arc: E1_H01E0001 F7
arc: E1_H02E0201 F2
arc: F0 F0_SLICE
arc: F2 F2_SLICE
arc: F7 F7_SLICE
arc: H01W0100 F7
arc: LSR0 H02W0501
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: V01S0100 F7
arc: W1_H02W0001 Q0
arc: W1_H02W0501 F7
arc: W1_H02W0701 F7
word: SLICED.K1.INIT 1000000000000000
word: SLICEB.K0.INIT 0000011100001111
word: SLICEA.K0.INIT 0111000011110000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_

.tile R31C65:PLC2
arc: H00L0000 H02E0201
arc: W1_H02W0001 H01E0001
arc: W1_H02W0501 V02N0501
arc: CE0 H00L0000
arc: CLK0 G_HPBX0000
arc: D0 Q0
arc: E3_H06E0003 Q0
arc: F0 F0_SLICE
arc: MUXCLK0 CLK0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1

.tile R32C62:PLC2
arc: E1_H02E0101 N1_V01S0100
arc: E1_H02E0401 N1_V01S0000
arc: E1_H02E0701 V02S0701
arc: N1_V02N0201 E1_H01W0000
arc: N1_V02N0301 E1_H01W0100
arc: N1_V02N0401 H02W0401
arc: V00B0000 V02S0001
arc: A4 V00B0000
arc: A5 Q5
arc: A6 N1_V02S0301
arc: B0 V02N0301
arc: B2 V02S0101
arc: B3 Q3
arc: B7 V02N0701
arc: CLK0 G_HPBX0000
arc: E1_H01E0001 F7
arc: E1_H02E0301 Q3
arc: E1_H02E0501 Q5
arc: E1_H02E0601 F4
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: LSR0 H02W0501
arc: LSR1 H02W0501
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXLSR1 LSR0
arc: MUXLSR2 LSR1
arc: N1_V01N0101 Q3
arc: N1_V02N0501 Q5
arc: N1_V02N0601 F6
word: SLICED.K1.INIT 1100110011000000
word: SLICED.K0.INIT 1010101010100000
word: SLICEC.K1.INIT 1010101010100000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 0110011001101010
word: SLICEA.K1.INIT 1111111111111111
word: SLICEA.K0.INIT 0000000000001100
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.A1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R32C63:PLC2
arc: N1_V02N0201 N1_V01S0000
arc: N1_V02N0301 H02E0301
arc: N1_V02N0501 H02E0501
arc: N1_V02N0601 E1_H02W0601
arc: S1_V02S0201 H01E0001
arc: S1_V02S0501 E1_H02W0501
arc: V00B0000 H02E0401
arc: W1_H02W0501 E1_H02W0501
arc: A2 V00B0000
arc: A6 N1_V01S0100
arc: B0 E1_H01W0100
arc: B1 H02E0101
arc: B3 Q3
arc: B6 H02E0301
arc: CLK0 G_HPBX0000
arc: E1_H01E0001 F1
arc: E1_H01E0101 F6
arc: E1_H02E0201 F0
arc: E1_H02E0601 F6
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F6 F6_SLICE
arc: H01W0000 F2
arc: H01W0100 Q3
arc: LSR0 E1_H02W0501
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR0
arc: N1_V02N0101 Q3
arc: V01S0100 F6
arc: W1_H02W0401 F6
word: SLICEB.K0.INIT 1010101010100000
word: SLICEA.K1.INIT 1100110011000000
word: SLICEA.K0.INIT 1100110011000000
word: SLICED.K0.INIT 0001000100010001
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 0000000000001110
word: SLICEB.K1.INIT 1100110011000000
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R32C64:PLC2
arc: N1_V02N0201 H01E0001
arc: N1_V02N0301 H01E0101
arc: N1_V02N0501 H01E0101
arc: N1_V02N0601 W1_H02E0601
arc: V00B0000 H02E0601
arc: A0 W1_H02E0701
arc: B0 V00B0000
arc: C0 N1_V01S0100
arc: CLK0 G_HPBX0000
arc: D0 H02E0201
arc: F0 F0_SLICE
arc: H01W0100 Q0
arc: LSR1 H02W0501
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: N1_V02N0001 Q0
word: SLICEA.K0.INIT 0111111100000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_

.tile R32C65:PLC2
arc: N1_V02N0501 S3_V06N0303
arc: W1_H02W0501 S3_V06N0303
arc: W1_H02W0601 S3_V06N0303

.tile R33C62:PLC2
arc: E1_H02E0701 N1_V02S0701
arc: N1_V02N0301 H02W0301
arc: N1_V02N0701 E1_H01W0100

.tile R33C63:PLC2
arc: V00T0100 V02S0501
arc: W1_H02W0301 V06S0003
arc: A0 H02E0701
arc: B0 N1_V02S0301
arc: C0 N1_V01S0100
arc: CLK0 G_HPBX0000
arc: D0 V02S0201
arc: F0 F0_SLICE
arc: H01W0100 Q0
arc: LSR0 V00T0100
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: N1_V02N0201 Q0
word: SLICEA.K0.INIT 0111111100000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_

.tile R35C3:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R36C3:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R36C63:PLC2
arc: E3_H06E0003 N3_V06S0003

.tile R36C69:PLC2
arc: E1_H02E0301 W3_H06E0003

.tile R38C65:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R3C63:PLC2
arc: E3_H06E0103 V06N0103

.tile R3C69:PLC2
arc: E1_H02E0101 W3_H06E0103

.tile R41C3:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R42C3:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R44C65:PLC2
arc: N3_V06N0303 E3_H06W0303

.tile R47C3:PLC2
arc: S1_V02S0201 N3_V06S0103

.tile R48C3:PLC2
arc: V01S0100 N3_V06S0303

.tile R4C51:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R5C42:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R6C63:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile TAP_R30C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R31C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R32C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R33C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile_group MIB_R50C2:PLL0_LL MIB_R50C3:BANKREF8
word: CLKI_DIV 0000100
word: CLKFB_DIV 0000000
word: CLKOP_DIV 1110111
word: CLKOP_CPHASE 0111100
word: CLKOP_FPHASE 000
word: CLKOS_DIV 0000111
word: CLKOS_CPHASE 0000000
word: CLKOS_FPHASE 000
word: CLKOS2_DIV 0000111
word: CLKOS2_CPHASE 0000000
word: CLKOS2_FPHASE 000
word: CLKOS3_DIV 0000111
word: CLKOS3_CPHASE 0000000
word: CLKOS3_FPHASE 000
word: PLL_LOCK_MODE 000
word: KVCO 000
word: LPF_CAPACITOR 00
word: LPF_RESISTOR 0001000
word: ICP_CURRENT 01100
word: FREQ_LOCK_ACCURACY 00
word: MFG_GMC_GAIN 000
word: MFG_GMC_TEST 1110
word: MFG1_TEST 000
word: MFG2_TEST 000
word: MFG_FORCE_VFILTER 0
word: MFG_ICP_TEST 0
word: MFG_EN_UP 0
word: MFG_FLOAT_ICP 0
word: MFG_GMC_PRESET 0
word: MFG_LF_PRESET 0
word: MFG_GMC_RESET 0
word: MFG_LF_RESET 0
word: MFG_LF_RESGRND 0
word: MFG_GMCREF_SEL 10
word: MFG_ENABLE_FILTEROPAMP 1
enum: MODE EHXPLLL
enum: CLKOP_ENABLE ENABLED
enum: CLKOS_ENABLE ENABLED
enum: CLKOS2_ENABLE ENABLED
enum: CLKOS3_ENABLE ENABLED
enum: FEEDBK_PATH CLKOP
enum: CLKOP_TRIM_POL RISING
enum: CLKOP_TRIM_DELAY 0
enum: CLKOS_TRIM_POL RISING
enum: CLKOS_TRIM_DELAY 0
enum: OUTDIVIDER_MUXA DIVA
enum: OUTDIVIDER_MUXB DIVB
enum: OUTDIVIDER_MUXC DIVC
enum: OUTDIVIDER_MUXD DIVD
enum: STDBY_ENABLE DISABLED
enum: REFIN_RESET DISABLED
enum: SYNC_ENABLE DISABLED
enum: INT_LOCK_STICKY ENABLED
enum: DPHASE_SOURCE DISABLED
enum: PLLRST_ENA DISABLED
enum: INTFB_WAKE DISABLED

