.device LFE5U-12F

.comment Part: LFE5U-12F-6CABGA381

.tile CIB_R16C1:CIB_LR
arc: E1_H02E0701 S1_V02N0701
arc: JA0 V02N0501
arc: JA3 H02W0501
arc: S1_V02S0001 H06W0003
arc: S3_V06S0003 H06W0003
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R17C1:CIB_LR
arc: E1_H02E0701 V02N0701
arc: H00L0100 H02W0101
arc: JA0 H00L0100
arc: JA3 V00B0000
arc: N1_V02N0501 E1_H01W0100
arc: S1_V02S0501 H02W0501
arc: S1_V02S0701 H06W0203
arc: V00B0000 V02S0001
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R18C1:CIB_LR
arc: N1_V02N0701 S1_V02N0601

.tile CIB_R18C71:CIB_LR
arc: S3_V06S0303 W3_H06E0303

.tile CIB_R19C1:CIB_LR
arc: JA0 N1_V02S0501
arc: JA3 N1_V02S0701
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R1C10:CIB
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R1C16:CIB
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R1C22:CIB
arc: E3_H06E0003 W3_H06E0303

.tile CIB_R1C28:CIB
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R1C34:CIB
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R1C40:CIB
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R1C46:CIB
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R1C4:CIB
arc: E3_H06E0103 V06N0103

.tile CIB_R1C50:CIB
arc: JA0 E1_H02W0701
enum: CIB.JB0MUX 0

.tile CIB_R1C51:CIB
arc: H00L0000 V02N0001
arc: JA0 H00L0000
enum: CIB.JB0MUX 0

.tile CIB_R1C52:CIB
arc: W1_H02W0701 W3_H06E0203

.tile CIB_R1C58:CIB
arc: JA0 E1_H02W0701
enum: CIB.JB0MUX 0

.tile CIB_R1C60:CIB
arc: JA0 V02N0701
arc: W1_H02W0701 V02N0701
enum: CIB.JB0MUX 0

.tile CIB_R20C1:CIB_LR
arc: N1_V02N0601 S3_V06N0303

.tile CIB_R21C1:CIB_LR
arc: S1_V02S0601 V01N0001

.tile CIB_R22C1:CIB_LR
arc: JA3 E1_H02W0501
arc: N1_V01N0001 N3_V06S0003
enum: CIB.JB3MUX 0

.tile CIB_R23C1:CIB_LR
arc: S1_V02S0701 N1_V02S0601

.tile CIB_R24C71:CIB_LR
arc: S3_V06S0303 N3_V06S0303

.tile CIB_R25C1:CIB_LR_S
arc: JA3 N1_V02S0701
enum: CIB.JB3MUX 0

.tile CIB_R26C1:CIB_LR
arc: N3_V06N0303 JF5

.tile CIB_R29C71:CIB_LR
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R2C71:CIB_LR
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R30C71:CIB_LR
arc: S3_V06S0303 N3_V06S0303

.tile CIB_R32C71:CIB_LR
arc: H00L0100 V02N0101
arc: JA0 H00L0100
arc: W3_H06W0303 JQ5
enum: CIB.JB0MUX 0

.tile CIB_R33C71:CIB_LR
arc: N1_V02N0101 W1_H02E0101

.tile CIB_R35C71:CIB_LR
arc: JA0 H02E0501
arc: JA3 V02N0501
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R36C71:CIB_LR
arc: N1_V02N0501 N3_V06S0303

.tile CIB_R44C71:CIB_LR
arc: W3_H06W0303 JQ5

.tile CIB_R49C1:CIB_LR_S
arc: E1_H02E0601 E1_H01W0000

.tile CIB_R49C2:CIB_PLL2
arc: H00L0100 H02W0301
arc: H00R0100 H02W0501
arc: H01W0000 JF0
arc: JA4 V00T0100
arc: JB1 H02W0301
arc: JB4 H02W0301
arc: JC2 H00L0100
arc: JC4 V00B0100
arc: JD2 V00T0100
arc: JD3 V00B0100
arc: JD4 H00R0100
arc: JLSR0 H02W0301
arc: V00B0100 H02W0501
arc: V00T0100 H02W0301
arc: PLLCSOUT_PLLREFCS CLK1_PLLREFCS

.tile CIB_R49C3:CIB_PLL3
arc: JCLK0 V00B0000
arc: V00B0000 W1_H02E0601
arc: W1_H02W0301 V06S0003
arc: W1_H02W0501 N1_V02S0501
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R49C69:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile MIB_R0C50:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C51:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C58:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C60:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C69:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R13C31:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0300

.tile MIB_R13C32:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0300

.tile MIB_R13C3:DSP_SPINE_UL1
arc: G_VPTX0000 G_HPRX0000
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile MIB_R15C0:PICL1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R16C0:PICL2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R17C0:PICL0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R18C0:PICL1_DQS0
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE NONE
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4

.tile MIB_R19C0:PICL2_DQS1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C0:BANKREF7A
enum: BANK.VCCIO 3V3

.tile MIB_R1C50:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C51:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C58:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C60:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C72:BANKREF2A
enum: BANK.VCCIO 3V3

.tile MIB_R21C0:PICL1_DQS3
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R22C0:PICL2
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R24C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R25C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R25C3:LMID_0
arc: G_LDCC3CLKI G_JLLCPLL0CLKOP

.tile MIB_R26C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R27C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE NONE

.tile MIB_R29C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R2C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R30C72:PICR1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R32C72:PICR0_DQS2
arc: JDIB JPADDIB_PIO
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R33C72:PICR1_DQS3
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R35C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R36C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R37C31:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0300

.tile MIB_R37C32:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0300

.tile MIB_R3C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R44C72:PICR0_DQS2
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R45C72:PICR1_DQS3
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE DOWN

.tile MIB_R50C2:PLL0_LL
arc: N1_CLKFB N1_JCLKFB3
arc: N1_REFCLK1 N1_JREFCLK1_2

.tile MIB_R50C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R50C71:BANKREF3
enum: BANK.VCCIO 3V3

.tile R10C4:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R11C21:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R14C2:PLC2
arc: S1_V02S0301 E1_H01W0100
arc: S1_V02S0401 S3_V06N0203
arc: V00T0000 S1_V02N0401
arc: A0 V02N0701
arc: B0 S1_V02N0101
arc: C0 V02N0601
arc: CLK0 G_HPBX0000
arc: D0 S1_V02N0001
arc: F0 F0_SLICE
arc: LSR1 V00T0000
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: V01S0000 Q0
word: SLICEA.K0.INIT 0010101010101010
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R14C3:PLC2
arc: E1_H02E0301 S1_V02N0301
arc: H00R0000 S1_V02N0401
arc: S1_V02S0301 E1_H01W0100
arc: A0 V02N0701
arc: A1 V02N0501
arc: B0 S1_V02N0101
arc: B1 S1_V02N0101
arc: C0 S1_V02N0601
arc: C1 V02N0401
arc: CLK0 G_HPBX0000
arc: D0 V02N0001
arc: D1 H00R0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: H01W0100 Q1
arc: LSR1 E1_H02W0301
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: S1_V02S0201 Q0
word: SLICEA.K1.INIT 0010101010101010
word: SLICEA.K0.INIT 0111111100000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R14C4:PLC2
arc: S1_V02S0301 H02W0301
arc: A0 S1_V02N0701
arc: B0 H02E0301
arc: C0 V02N0401
arc: CLK0 G_HPBX0000
arc: D0 V02N0201
arc: F0 F0_SLICE
arc: H01W0100 Q0
arc: LSR0 H02W0301
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
word: SLICEA.K0.INIT 0111111100000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R14C5:PLC2
arc: W1_H02W0301 S3_V06N0003

.tile R15C2:PLC2
arc: H00L0100 H02W0301
arc: H00R0000 V02S0401
arc: H00R0100 E1_H02W0501
arc: N1_V02N0601 S1_V02N0601
arc: V00B0000 V02N0201
arc: V00T0000 E1_H02W0001
arc: A2 V01N0101
arc: A4 V00T0000
arc: A5 V02S0301
arc: B0 V00B0000
arc: B2 H00R0000
arc: B3 V01N0001
arc: B6 E1_H02W0301
arc: B7 N1_V01S0000
arc: CLK0 V02N0701
arc: E1_H02E0401 F6
arc: E1_H02E0501 F5
arc: E1_H02E0601 F4
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: M3 H00R0100
arc: M5 H00L0100
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: N1_V02N0701 F7
arc: S1_V02S0201 F2
arc: S1_V02S0501 Q5
arc: V01S0000 F3
arc: V01S0100 Q3
word: SLICED.K0.INIT 1100110011000000
word: SLICEC.K1.INIT 1010101010100000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 0110011001101100
word: SLICEA.K1.INIT 1111111111111111
word: SLICEA.K0.INIT 0000000000001100
word: SLICED.K1.INIT 1100110011000000
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.A0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.A1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R15C3:PLC2
arc: E1_H02E0401 S1_V02N0401
arc: N1_V02N0401 S1_V02N0401
arc: N1_V02N0501 H02E0501
arc: N1_V02N0701 S1_V02N0601
arc: V00B0000 V02S0201
arc: A1 V01N0101
arc: B0 V00B0000
arc: B2 V01N0001
arc: B3 V02S0301
arc: CE0 V02N0201
arc: CE1 V02N0201
arc: CLK0 G_HPBX0000
arc: E1_H01E0001 F3
arc: E1_H01E0101 Q1
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: N1_V02N0001 F0
arc: S1_V02S0001 Q2
arc: S1_V02S0201 Q0
arc: V01S0000 F1
arc: V01S0100 F2
arc: W1_H02W0301 Q3
word: SLICEB.K0.INIT 1100110011000000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEA.K0.INIT 1100110011000000
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 0000000000001110
word: SLICEA.K1.INIT 1010101010100000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R15C4:PLC2
arc: H00R0000 H02E0401
arc: N1_V02N0201 H01E0001
arc: N1_V02N0401 H02E0401
arc: V00B0000 H02E0401
arc: V00B0100 V02S0301
arc: W1_H02W0501 H01E0101
arc: A0 V02N0501
arc: A1 H00R0000
arc: B0 V00B0000
arc: B1 V02N0101
arc: C0 W1_H02E0601
arc: C1 W1_H02E0401
arc: CLK0 G_HPBX0000
arc: D0 V02N0201
arc: D1 V02N0001
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: LSR1 V00B0100
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: W1_H02W0001 Q0
arc: W1_H02W0301 Q1
word: SLICEA.K0.INIT 0111000011110000
word: SLICEA.K1.INIT 0111000011110000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R16C10:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R16C16:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R16C22:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R16C28:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R16C2:PLC2
arc: E1_H02E0301 S1_V02N0301
arc: E1_H02E0401 S1_V02N0401
arc: N1_V02N0001 E1_H01W0000
arc: N1_V02N0101 E1_H01W0100
arc: N1_V02N0201 E1_H02W0201
arc: N1_V02N0401 S1_V02N0101
arc: N1_V02N0701 H02E0701
arc: S1_V02S0201 E1_H02W0201
arc: V00B0100 S1_V02N0101
arc: W1_H02W0501 N1_V01S0100
arc: A0 V02N0701
arc: A1 S1_V02N0701
arc: A2 V02N0501
arc: B0 H02W0101
arc: B1 E1_H01W0100
arc: B2 E1_H01W0100
arc: C0 H02W0401
arc: C1 E1_H01W0000
arc: C2 E1_H01W0000
arc: CLK0 G_HPBX0000
arc: D0 N1_V01S0000
arc: D1 V02N0201
arc: D2 V02S0201
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: LSR0 V00B0100
arc: LSR1 V00B0100
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR1 LSR0
arc: N1_V01N0001 Q0
arc: N1_V01N0101 Q2
arc: S1_V02S0101 Q1
arc: V01S0000 Q1
word: SLICEA.K1.INIT 0010101010101010
word: SLICEA.K0.INIT 0111111100000000
word: SLICEB.K0.INIT 0111111100000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_

.tile R16C34:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R16C3:PLC2
arc: S3_V06S0303 E1_H01W0100
arc: V00B0000 E1_H02W0601
arc: A0 E1_H01E0001
arc: A1 H00R0000
arc: A2 V00B0000
arc: A3 V01N0101
arc: A4 V02N0301
arc: A7 S1_V02N0301
arc: B0 V01N0001
arc: B1 F3
arc: B2 F3
arc: B3 H02E0301
arc: B4 S1_V02N0501
arc: B7 F3
arc: C0 N1_V01S0100
arc: C1 V02N0601
arc: C2 F4
arc: C3 H00R0100
arc: C4 H02E0401
arc: C7 F4
arc: CLK0 G_HPBX0000
arc: D0 V01S0100
arc: D1 N1_V01S0000
arc: D2 S1_V02N0001
arc: D3 V02N0201
arc: D4 S1_V02N0601
arc: D7 V02N0401
arc: E1_H01E0001 F3
arc: E1_H01E0101 F4
arc: E1_H02E0001 F2
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F7 F7_SLICE
arc: H00R0000 F4
arc: H00R0100 Q7
arc: H01W0000 F3
arc: H01W0100 F4
arc: LSR0 E1_H02W0301
arc: LSR1 E1_H02W0301
arc: MUXCLK0 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR3 LSR1
arc: N1_V01N0001 Q0
arc: N1_V01N0101 Q1
arc: N1_V02N0101 F3
arc: N1_V02N0201 F2
arc: N1_V02N0301 F3
arc: N1_V02N0401 F4
arc: N1_V02N0601 F4
arc: S1_V02S0101 F3
arc: S1_V02S0301 F3
arc: S1_V02S0501 Q7
arc: S1_V02S0601 F4
arc: V01S0000 F3
arc: V01S0100 F4
arc: W1_H02W0101 F3
arc: W1_H02W0401 F4
word: SLICEB.K1.INIT 0000000000100000
word: SLICEB.K0.INIT 0100000000000000
word: SLICEC.K0.INIT 0000000000001000
word: SLICEA.K1.INIT 0111111100000000
word: SLICEA.K0.INIT 0111000011110000
word: SLICED.K1.INIT 0010101010101010
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICED.GSR DISABLED
enum: SLICED.REG1.SD 1
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R16C40:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R16C46:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R16C4:PLC2
arc: N1_V02N0001 H01E0001
arc: N1_V02N0101 H01E0101
arc: N1_V02N0201 H01E0001
arc: N1_V02N0501 H01E0101
arc: N1_V02N0701 H01E0101
arc: S1_V02S0101 H01E0101
arc: S1_V02S0201 H01E0001
arc: S1_V02S0501 H01E0101
arc: S1_V02S0601 H01E0001
arc: V00T0000 H02E0001
arc: CE0 S1_V02N0201
arc: CLK0 G_HPBX0000
arc: E3_H06E0003 F0
arc: F0 F0_SLICE
arc: H01W0100 F0
arc: LSR0 V00T0000
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: N3_V06N0003 Q0
arc: V01S0000 F0
arc: W1_H02W0201 F0
arc: W3_H06W0003 F0
word: SLICEA.K0.INIT 0000000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET SET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R16C52:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R16C58:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R16C5:PLC2
arc: W1_H02W0301 S1_V02N0301
arc: W1_H02W0601 S1_V02N0601

.tile R16C64:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R16C70:PLC2
arc: S3_V06S0103 W3_H06E0103

.tile R17C21:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R17C2:PLC2
arc: E1_H02E0001 N1_V01S0000
arc: E1_H02E0201 V01N0001
arc: N1_V02N0201 E1_H01W0000
arc: N1_V02N0501 E1_H01W0100
arc: N1_V02N0601 E1_H01W0000
arc: N1_V02N0701 E1_H01W0100
arc: V00B0100 H02E0701
arc: V00T0000 H02W0201
arc: W1_H02W0501 N1_V02S0501
arc: CLK1 V00B0100
arc: H01W0100 Q6
arc: M1 H02W0001
arc: M6 V00T0000
arc: MUXCLK0 CLK1
arc: MUXCLK3 CLK1
arc: W1_H02W0101 Q1
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK1.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK1.CLKMUX CLK

.tile R17C3:PLC2
arc: E1_H02E0201 N1_V01S0000
arc: N1_V02N0201 S1_V02N0201
arc: W1_H02W0001 N1_V02S0001
arc: W1_H02W0201 N1_V02S0201
arc: A0 E1_H01E0001
arc: A1 V01N0101
arc: A6 N1_V01S0100
arc: B0 V02S0301
arc: B1 V00B0000
arc: B6 N1_V01S0000
arc: C0 V02S0601
arc: C1 V02S0601
arc: C4 V00T0000
arc: C6 F4
arc: CLK0 G_HPBX0000
arc: D0 V02N0201
arc: D1 N1_V01S0000
arc: D4 H02E0001
arc: D6 V01N0001
arc: E1_H01E0001 F4
arc: E1_H02E0301 Q1
arc: E1_H02E0401 F4
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F4 F4_SLICE
arc: F6 F6_SLICE
arc: H01W0000 F4
arc: H01W0100 F4
arc: LSR0 E1_H02W0301
arc: LSR1 E1_H02W0301
arc: MUXCLK0 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR3 LSR1
arc: N1_V01N0001 F4
arc: N1_V01N0101 Q6
arc: N1_V02N0301 Q1
arc: N1_V02N0401 F4
arc: N1_V02N0601 F4
arc: S1_V02S0001 Q0
arc: S1_V02S0301 Q1
arc: S1_V02S0401 Q6
arc: S1_V02S0601 F4
arc: V00B0000 F4
arc: V00T0000 Q0
arc: V01S0000 F4
word: SLICEC.K0.INIT 1111000000000000
word: SLICED.K0.INIT 0111111100000000
word: SLICEA.K0.INIT 0111111100000000
word: SLICEA.K1.INIT 0010101010101010
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_

.tile R17C4:PLC2
arc: H00R0000 H02E0401
arc: S1_V02S0001 H01E0001
arc: S1_V02S0401 H01E0001
arc: V00B0000 H02W0601
arc: W3_H06W0203 N1_V01S0000
arc: A0 V01N0101
arc: B0 H02E0301
arc: C0 V02N0401
arc: D0 W1_H02E0201
arc: F0 F5A_SLICE
arc: F1 FXA_SLICE
arc: F2 F5B_SLICE
arc: F3 FXB_SLICE
arc: F4 F5C_SLICE
arc: F5 FXC_SLICE
arc: F6 F5D_SLICE
arc: M0 H02W0601
arc: M1 H00R0000
arc: M2 H02W0601
arc: M3 H02E0201
arc: M4 V00B0000
arc: M5 H00R0000
arc: M6 V00B0000
arc: V01S0000 F3
word: SLICEA.K0.INIT 0001000000001000
word: SLICEA.K1.INIT 0000000000000000
word: SLICEB.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 0000000000000000
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 0000000000000000
word: SLICED.K0.INIT 0000000000000000
word: SLICED.K1.INIT 0000000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1

.tile R17C5:PLC2
arc: W1_H02W0301 V02N0301
arc: W1_H02W0601 V02N0601

.tile R18C11:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R18C17:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R18C23:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R18C29:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R18C2:PLC2
arc: H00L0000 N1_V02S0201
arc: N1_V02N0101 S1_V02N0101
arc: V00B0100 S1_V02N0101
arc: V00T0000 E1_H02W0201
arc: A0 H00L0000
arc: A2 V02N0701
arc: A4 V00B0000
arc: A5 V00T0000
arc: A6 H00R0000
arc: A7 N1_V02S0101
arc: B3 Q3
arc: CLK0 G_HPBX0000
arc: E1_H02E0401 Q6
arc: E1_H02E0501 F5
arc: E1_H02E0601 Q4
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q6
arc: LSR0 V00B0100
arc: LSR1 V00B0100
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR1 LSR0
arc: MUXLSR2 LSR0
arc: MUXLSR3 LSR1
arc: N1_V01N0001 Q4
arc: N1_V02N0301 Q3
arc: N1_V02N0401 Q6
arc: N1_V02N0701 F7
arc: V00B0000 Q4
word: SLICED.K1.INIT 1010101010100000
word: SLICED.K0.INIT 1010101010100000
word: SLICEC.K1.INIT 1010101010100000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 0110011001101100
word: SLICEA.K1.INIT 1111111111111111
word: SLICEA.K0.INIT 0000000000001010
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R18C35:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R18C3:PLC2
arc: H00R0000 V02S0401
arc: N1_V02N0001 N1_V01S0000
arc: N1_V02N0501 E1_H01W0100
arc: N1_V02N0601 H02E0601
arc: S1_V02S0101 N1_V02S0101
arc: S1_V02S0601 N1_V02S0601
arc: V00B0000 V02S0001
arc: A0 H00R0000
arc: A1 N1_V02S0501
arc: A2 V00B0000
arc: B3 V02S0301
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: N1_V01N0001 F0
arc: N1_V01N0101 F3
arc: N1_V02N0201 F2
arc: N1_V02N0301 F1
word: SLICEC.K1.INIT 0000000000001110
word: SLICEC.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 1010101010100000
word: SLICEA.K1.INIT 1010101010100000
word: SLICEA.K0.INIT 1010101010100000
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1

.tile R18C41:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R18C47:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R18C4:PLC2
arc: N1_V02N0201 N1_V01S0000
arc: N1_V02N0401 W1_H02E0401
arc: V00T0100 H02W0301
arc: A0 W1_H02E0501
arc: A7 V00T0100
arc: B0 N1_V02S0101
arc: B7 N1_V02S0501
arc: C0 V02S0401
arc: C7 V02S0001
arc: CLK0 G_HPBX0000
arc: D0 N1_V02S0201
arc: D7 N1_V02S0601
arc: E1_H02E0701 F7
arc: F0 F0_SLICE
arc: F7 F7_SLICE
arc: H01W0100 Q0
arc: LSR0 H02W0301
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: N1_V01N0101 Q0
arc: W1_H02W0201 Q0
word: SLICEA.K0.INIT 0010101010101010
word: SLICED.K1.INIT 0001010101010101
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_

.tile R18C53:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R18C59:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R18C5:PLC2
arc: H00R0100 H02E0701
arc: N1_V02N0301 S1_V02N0301
arc: N1_V02N0601 S1_V02N0301
arc: W1_H02W0301 S1_V02N0301
arc: CE0 H00R0100
arc: CLK0 G_HPBX0000
arc: D0 Q0
arc: E3_H06E0003 Q0
arc: F0 F0_SLICE
arc: MUXCLK0 CLK0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1

.tile R18C65:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R19C2:PLC2
arc: N1_V02N0701 E1_H01W0100

.tile R19C3:PLC2
arc: H00R0000 V02S0601
arc: A0 E1_H01E0001
arc: B0 V02S0101
arc: C0 N1_V02S0601
arc: CLK0 G_HPBX0000
arc: D0 H00R0000
arc: E1_H01E0001 Q0
arc: F0 F0_SLICE
arc: H01W0100 Q0
arc: LSR1 E1_H02W0301
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: N1_V02N0201 Q0
word: SLICEA.K0.INIT 0001010101010101
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_

.tile R19C5:PLC2
arc: W1_H02W0301 V02N0301

.tile R20C2:PLC2
arc: N1_V02N0101 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile R20C5:PLC2
arc: N1_V02N0301 S3_V06N0003
arc: N3_V06N0003 S3_V06N0003

.tile R22C3:PLC2
arc: S3_V06S0003 N3_V06S0303
arc: W1_H02W0501 N3_V06S0303

.tile R22C70:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R23C21:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R26C2:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203

.tile R26C5:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R28C3:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R28C70:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R29C21:PLC2
arc: E3_H06E0303 S3_V06N0303
arc: N3_V06N0303 S3_V06N0303

.tile R29C27:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C33:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R29C39:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R29C45:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R29C51:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R29C57:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C63:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C69:PLC2
arc: E1_H02E0501 W3_H06E0303

.tile R2C21:PLC2
arc: E3_H06E0203 V06N0203

.tile R2C27:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R2C33:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R2C39:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R2C45:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R2C51:PLC2
arc: N1_V02N0001 W3_H06E0003
arc: E3_H06E0103 W3_H06E0003

.tile R2C57:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R2C60:PLC2
arc: N1_V02N0701 H06E0203

.tile R2C63:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R2C69:PLC2
arc: E1_H02E0501 W3_H06E0303

.tile R32C11:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R32C17:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R32C23:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R32C29:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R32C2:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: N3_V06N0203 H06W0203

.tile R32C35:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R32C41:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R32C47:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R32C53:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R32C59:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R32C5:PLC2
arc: N3_V06N0303 S3_V06N0203
arc: W3_H06W0203 E3_H06W0103

.tile R32C65:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R33C69:PLC2
arc: E1_H02E0101 S1_V02N0101

.tile R34C3:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R34C70:PLC2
arc: V01S0100 N3_V06S0303

.tile R35C21:PLC2
arc: E3_H06E0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0203

.tile R35C27:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R35C33:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R35C39:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R35C45:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R35C51:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R35C57:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R35C63:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R35C69:PLC2
arc: N1_V02N0101 W3_H06E0103

.tile R35C70:PLC2
arc: E1_H02E0501 N1_V01S0100

.tile R38C2:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R38C5:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R40C3:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R41C15:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R41C21:PLC2
arc: F7 F7_SLICE
arc: N3_V06N0203 F7
arc: W3_H06W0203 F7
word: SLICED.K1.INIT 1111111111111111
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1

.tile R41C3:PLC2
arc: S3_V06S0303 E3_H06W0303

.tile R41C9:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R44C11:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R44C17:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R44C23:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R44C29:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R44C2:PLC2
arc: N3_V06N0303 H06W0303

.tile R44C35:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R44C41:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R44C47:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R44C53:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R44C59:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R44C5:PLC2
arc: N3_V06N0203 E3_H06W0203
arc: W3_H06W0303 E3_H06W0203

.tile R44C65:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R46C3:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R47C3:PLC2
arc: S1_V02S0501 N3_V06S0303

.tile R4C4:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R5C21:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile TAP_R14C4:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R15C4:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R16C4:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R17C4:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R18C4:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R19C4:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile_group MIB_R50C2:PLL0_LL MIB_R50C3:BANKREF8
word: CLKI_DIV 0000100
word: CLKFB_DIV 0000000
word: CLKOP_DIV 1110111
word: CLKOP_CPHASE 0111100
word: CLKOP_FPHASE 000
word: CLKOS_DIV 0000111
word: CLKOS_CPHASE 0000000
word: CLKOS_FPHASE 000
word: CLKOS2_DIV 0000111
word: CLKOS2_CPHASE 0000000
word: CLKOS2_FPHASE 000
word: CLKOS3_DIV 0000111
word: CLKOS3_CPHASE 0000000
word: CLKOS3_FPHASE 000
word: PLL_LOCK_MODE 000
word: KVCO 000
word: LPF_CAPACITOR 00
word: LPF_RESISTOR 0001000
word: ICP_CURRENT 01100
word: FREQ_LOCK_ACCURACY 00
word: MFG_GMC_GAIN 000
word: MFG_GMC_TEST 1110
word: MFG1_TEST 000
word: MFG2_TEST 000
word: MFG_FORCE_VFILTER 0
word: MFG_ICP_TEST 0
word: MFG_EN_UP 0
word: MFG_FLOAT_ICP 0
word: MFG_GMC_PRESET 0
word: MFG_LF_PRESET 0
word: MFG_GMC_RESET 0
word: MFG_LF_RESET 0
word: MFG_LF_RESGRND 0
word: MFG_GMCREF_SEL 10
word: MFG_ENABLE_FILTEROPAMP 1
enum: MODE EHXPLLL
enum: CLKOP_ENABLE ENABLED
enum: CLKOS_ENABLE ENABLED
enum: CLKOS2_ENABLE ENABLED
enum: CLKOS3_ENABLE ENABLED
enum: FEEDBK_PATH CLKOP
enum: CLKOP_TRIM_POL RISING
enum: CLKOP_TRIM_DELAY 0
enum: CLKOS_TRIM_POL RISING
enum: CLKOS_TRIM_DELAY 0
enum: OUTDIVIDER_MUXA DIVA
enum: OUTDIVIDER_MUXB DIVB
enum: OUTDIVIDER_MUXC DIVC
enum: OUTDIVIDER_MUXD DIVD
enum: STDBY_ENABLE DISABLED
enum: REFIN_RESET DISABLED
enum: SYNC_ENABLE DISABLED
enum: INT_LOCK_STICKY ENABLED
enum: DPHASE_SOURCE DISABLED
enum: PLLRST_ENA DISABLED
enum: INTFB_WAKE DISABLED

