.device LFE5U-12F

.comment Part: LFE5U-12F-6CABGA381

.tile CIB_R1C51:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C52:CIB
arc: W1_H02W0501 V01N0101

.tile CIB_R1C58:CIB
arc: H00L0100 V02N0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C60:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C61:CIB
arc: W1_H02W0501 V02N0501

.tile CIB_R29C71:CIB_LR
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R2C71:CIB_LR
arc: JA0 H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R32C1:CIB_LR
arc: S3_V06S0103 E3_H06W0103

.tile CIB_R32C71:CIB_LR
arc: H00L0000 W1_H02E0201
arc: JA0 H00L0000
enum: CIB.JB0MUX 0

.tile CIB_R33C71:CIB_LR
arc: W1_H02W0501 V02N0501

.tile CIB_R34C71:CIB_LR
arc: N1_V02N0501 S1_V02N0501
arc: W1_H02W0501 S1_V02N0501

.tile CIB_R35C71:CIB_LR
arc: H00L0000 W1_H02E0201
arc: JA0 H00L0000
arc: JA3 V00T0000
arc: V00T0000 H02E0001
arc: W1_H02W0501 V02N0501
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R36C71:CIB_LR
arc: N1_V02N0501 S1_V02N0501

.tile CIB_R38C1:CIB_LR
arc: S3_V06S0203 N3_V06S0103

.tile CIB_R38C71:CIB_LR
arc: N1_V02N0501 S3_V06N0303

.tile CIB_R44C1:CIB_LR
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R44C71:CIB_LR
arc: N3_V06N0303 JQ5

.tile CIB_R47C1:CIB_LR
arc: E1_H02E0601 V06S0303

.tile CIB_R49C1:CIB_LR_S
arc: E1_H02E0401 E1_H01W0000

.tile CIB_R49C2:CIB_PLL2
arc: H00L0000 N1_V02S0001
arc: H00R0000 N1_V02S0601
arc: H01W0000 JF0
arc: JA4 V00B0000
arc: JB1 V00B0000
arc: JB4 H00L0000
arc: JC2 H00L0000
arc: JC4 V00T0000
arc: JD2 N1_V02S0001
arc: JD3 H00R0000
arc: JD4 N1_V02S0601
arc: JLSR0 V00B0000
arc: V00B0000 N1_V02S0001
arc: V00T0000 N1_V02S0601
arc: PLLCSOUT_PLLREFCS CLK0_PLLREFCS

.tile CIB_R49C3:CIB_PLL3
arc: JCLK0 V00B0000
arc: V00B0000 W1_H02E0401
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R49C69:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R49C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R49C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile MIB_R0C51:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C58:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C60:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R0C69:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R13C31:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0300

.tile MIB_R13C32:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0300

.tile MIB_R13C3:DSP_SPINE_UL1
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile MIB_R1C51:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C58:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C60:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C72:BANKREF2A
enum: BANK.VCCIO 3V3

.tile MIB_R25C3:LMID_0
arc: G_LDCC3CLKI G_JLLCPLL0CLKOP

.tile MIB_R26C0:PICL0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R27C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE NONE

.tile MIB_R29C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R2C72:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R30C72:PICR1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R32C72:PICR0_DQS2
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R33C72:PICR1_DQS3
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE NONE
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R35C72:PICR0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R36C72:PICR1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE NONE
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R37C31:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0300

.tile MIB_R37C32:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0300

.tile MIB_R37C59:EBR_SPINE_LR1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R3C72:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R44C72:PICR0_DQS2
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R45C72:PICR1_DQS3
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE DOWN

.tile MIB_R50C2:PLL0_LL
arc: N1_CLKFB N1_JCLKFB3
arc: N1_REFCLK0 N1_JREFCLK0_2

.tile MIB_R50C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R50C71:BANKREF3
enum: BANK.VCCIO 3V3

.tile R11C2:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R14C52:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R14C61:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R17C2:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R20C52:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R20C61:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R23C2:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R26C52:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R26C61:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R29C14:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R29C20:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R29C26:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R29C2:PLC2
arc: E3_H06E0003 S3_V06N0003
arc: N3_V06N0003 S3_V06N0003

.tile R29C32:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R29C38:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R29C44:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R29C50:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R29C56:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C62:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C68:PLC2
arc: E1_H02E0501 W3_H06E0303

.tile R29C70:PLC2
arc: E1_H02E0501 W1_H02E0501

.tile R29C8:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R2C14:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C20:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R2C26:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R2C2:PLC2
arc: E3_H06E0303 V06N0303

.tile R2C32:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R2C38:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R2C44:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R2C50:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R2C52:PLC2
arc: N1_V01N0101 S3_V06N0203

.tile R2C56:PLC2
arc: E1_H02E0301 W3_H06E0003
arc: E3_H06E0103 W3_H06E0003

.tile R2C58:PLC2
arc: N1_V02N0301 W1_H02E0301

.tile R2C61:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R2C62:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R2C68:PLC2
arc: E1_H02E0701 W3_H06E0203

.tile R2C70:PLC2
arc: E1_H02E0701 W1_H02E0701

.tile R2C8:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R32C13:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R32C19:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R32C25:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R32C31:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R32C37:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R32C43:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R32C49:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R32C52:PLC2
arc: N3_V06N0203 H06W0203

.tile R32C55:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R32C61:PLC2
arc: N3_V06N0103 E3_H06W0103
arc: W3_H06W0103 E3_H06W0103

.tile R32C67:PLC2
arc: E1_H02E0201 F2
arc: F2 F2_SLICE
arc: S3_V06S0103 F2
arc: W3_H06W0103 F2
word: SLICEB.K0.INIT 1111111111111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1

.tile R32C69:PLC2
arc: E1_H02E0201 W1_H02E0201

.tile R32C70:PLC2
arc: CE0 S1_V02N0201
arc: CLK0 G_HPBX0000
arc: D0 Q0
arc: F0 F0_SLICE
arc: MUXCLK0 CLK0
arc: S3_V06S0003 Q0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1

.tile R32C7:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R33C69:PLC2
arc: E1_H02E0001 S1_V02N0001
arc: E1_H02E0501 V02N0501
arc: E1_H02E0601 V01N0001
arc: V00T0100 S1_V02N0701
arc: A0 V02N0701
arc: B0 S1_V02N0101
arc: C0 E1_H01W0000
arc: CLK0 G_HPBX0000
arc: D0 V00T0100
arc: E1_H01E0101 Q0
arc: F0 F0_SLICE
arc: LSR1 E1_H02W0501
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: V01S0000 Q0
word: SLICEA.K0.INIT 0010101010101010
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R33C70:PLC2
arc: V00B0100 H02E0501
arc: V00T0100 S1_V02N0701
arc: A0 F5
arc: A1 F5
arc: A5 V02N0101
arc: A7 F5
arc: B0 V01N0001
arc: B1 S1_V02N0301
arc: B5 H01E0101
arc: B7 S1_V02N0501
arc: C0 S1_V02N0401
arc: C1 S1_V02N0401
arc: C5 H02E0601
arc: C7 V00B0100
arc: CLK0 G_HPBX0000
arc: D0 V00T0100
arc: D1 V02N0001
arc: D5 H02E0001
arc: D7 S1_V02N0601
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F5 F5_SLICE
arc: F7 F7_SLICE
arc: H01W0000 F5
arc: LSR1 H02E0501
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: S1_V02S0001 Q0
arc: S1_V02S0101 Q1
arc: S1_V02S0201 Q0
arc: S1_V02S0301 Q1
arc: S1_V02S0501 F5
arc: S1_V02S0701 F5
arc: V01S0000 F7
word: SLICEC.K1.INIT 0000010000000000
word: SLICEA.K0.INIT 0100110011001100
word: SLICEA.K1.INIT 0111111100000000
word: SLICED.K1.INIT 0000011100001111
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_

.tile R34C69:PLC2
arc: N1_V02N0501 E1_H02W0501
arc: A4 V00B0000
arc: A6 H00R0000
arc: B0 V02N0301
arc: B2 V01N0001
arc: B3 Q3
arc: B5 S1_V02N0701
arc: B7 N1_V01S0000
arc: CLK0 G_HPBX0000
arc: E1_H01E0101 Q6
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q6
arc: LSR1 E1_H02W0501
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR1 LSR1
arc: MUXLSR2 LSR1
arc: MUXLSR3 LSR1
arc: N1_V01N0001 Q4
arc: N1_V02N0701 F7
arc: S1_V02S0301 Q3
arc: S1_V02S0701 F5
arc: V00B0000 Q4
arc: V01S0000 Q3
word: SLICED.K1.INIT 1100110011000000
word: SLICED.K0.INIT 1010101010100000
word: SLICEC.K1.INIT 1100110011000000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 0110011001101010
word: SLICEA.K1.INIT 1111111111111111
word: SLICEA.K0.INIT 0000000000001100
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.A1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R34C70:PLC2
arc: N1_V02N0101 H01E0101
arc: N1_V02N0201 N1_V01S0000
arc: V00B0000 V02S0001
arc: A0 V01N0101
arc: B1 V00B0000
arc: B2 V02S0101
arc: B3 V02N0101
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: N1_V01N0001 F1
arc: N1_V02N0001 F2
arc: S1_V02S0201 F0
arc: V01S0000 F3
word: SLICEC.K1.INIT 0000000000001110
word: SLICEC.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 1100110011000000
word: SLICEA.K1.INIT 1100110011000000
word: SLICEA.K0.INIT 1010101010100000
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1

.tile R35C14:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R35C20:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R35C26:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R35C2:PLC2
arc: E3_H06E0003 F3
arc: F3 F3_SLICE
arc: N3_V06N0003 F3
arc: S3_V06S0003 F3
word: SLICEB.K1.INIT 0000000000000000
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R35C32:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R35C38:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R35C44:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R35C50:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R35C56:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R35C62:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R35C67:PLC2
arc: E1_H02E0201 V06S0103

.tile R35C68:PLC2
arc: E1_H01E0101 W3_H06E0203

.tile R35C69:PLC2
arc: E1_H02E0201 W1_H02E0201
arc: N1_V02N0101 E1_H01W0100
arc: N1_V02N0301 H01E0101
arc: V00B0100 H02W0701
arc: A0 V02S0701
arc: A1 H00L0100
arc: B0 H00R0100
arc: B1 V02S0301
arc: B7 N1_V01S0000
arc: C0 E1_H01W0000
arc: C1 E1_H01W0000
arc: C7 V00T0100
arc: CLK0 G_HPBX0000
arc: D0 V00B0100
arc: D1 V00B0100
arc: E1_H01E0101 F7
arc: E1_H02E0501 F7
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F7 F7_SLICE
arc: H00L0100 Q1
arc: H00R0100 F7
arc: LSR1 E1_H02W0501
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: N1_V01N0001 Q1
arc: N1_V02N0001 Q0
arc: N1_V02N0701 F7
arc: V00T0100 Q1
arc: V01S0100 Q0
word: SLICED.K1.INIT 0000001100000011
word: SLICEA.K0.INIT 0010101010101010
word: SLICEA.K1.INIT 0100010101010101
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R35C70:PLC2
arc: E1_H02E0001 V06S0003
arc: H00R0100 H02E0501
arc: N1_V02N0301 H01E0101
arc: N1_V02N0501 H02E0501
arc: N1_V02N0701 H01E0101
arc: V00B0000 N1_V02S0201
arc: W1_H02W0701 N1_V02S0701
arc: A0 N1_V02S0501
arc: A1 N1_V02S0701
arc: A4 N1_V02S0301
arc: B0 H00R0100
arc: B1 H00R0100
arc: B4 V01S0000
arc: C0 F4
arc: C1 F4
arc: C4 V00T0100
arc: CLK0 G_HPBX0000
arc: D0 V02S0201
arc: D1 N1_V01S0000
arc: D4 V00B0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F4 F4_SLICE
arc: H01W0000 F4
arc: H01W0100 F4
arc: LSR0 H02W0501
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: N1_V01N0101 Q0
arc: N1_V02N0101 Q1
arc: N1_V02N0401 F4
arc: N1_V02N0601 F4
arc: V00T0100 Q1
arc: V01S0000 Q0
word: SLICEC.K0.INIT 1000000000000000
word: SLICEA.K0.INIT 0111111100000000
word: SLICEA.K1.INIT 0111111100000000
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_

.tile R35C8:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R36C69:PLC2
arc: N1_V02N0701 N1_V01S0100

.tile R41C2:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R47C2:PLC2
arc: S1_V02S0001 N3_V06S0003
arc: S1_V02S0601 H02E0601

.tile R5C2:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R8C52:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R8C61:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile TAP_R32C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R33C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R34C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R35C60:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile_group MIB_R50C2:PLL0_LL MIB_R50C3:BANKREF8
word: CLKI_DIV 0000100
word: CLKFB_DIV 0000000
word: CLKOP_DIV 1110111
word: CLKOP_CPHASE 0111100
word: CLKOP_FPHASE 000
word: CLKOS_DIV 0000111
word: CLKOS_CPHASE 0000000
word: CLKOS_FPHASE 000
word: CLKOS2_DIV 0000111
word: CLKOS2_CPHASE 0000000
word: CLKOS2_FPHASE 000
word: CLKOS3_DIV 0000111
word: CLKOS3_CPHASE 0000000
word: CLKOS3_FPHASE 000
word: PLL_LOCK_MODE 000
word: KVCO 000
word: LPF_CAPACITOR 00
word: LPF_RESISTOR 0001000
word: ICP_CURRENT 01100
word: FREQ_LOCK_ACCURACY 00
word: MFG_GMC_GAIN 000
word: MFG_GMC_TEST 1110
word: MFG1_TEST 000
word: MFG2_TEST 000
word: MFG_FORCE_VFILTER 0
word: MFG_ICP_TEST 0
word: MFG_EN_UP 0
word: MFG_FLOAT_ICP 0
word: MFG_GMC_PRESET 0
word: MFG_LF_PRESET 0
word: MFG_GMC_RESET 0
word: MFG_LF_RESET 0
word: MFG_LF_RESGRND 0
word: MFG_GMCREF_SEL 10
word: MFG_ENABLE_FILTEROPAMP 1
enum: MODE EHXPLLL
enum: CLKOP_ENABLE ENABLED
enum: CLKOS_ENABLE ENABLED
enum: CLKOS2_ENABLE ENABLED
enum: CLKOS3_ENABLE ENABLED
enum: FEEDBK_PATH CLKOP
enum: CLKOP_TRIM_POL RISING
enum: CLKOP_TRIM_DELAY 0
enum: CLKOS_TRIM_POL RISING
enum: CLKOS_TRIM_DELAY 0
enum: OUTDIVIDER_MUXA DIVA
enum: OUTDIVIDER_MUXB DIVB
enum: OUTDIVIDER_MUXC DIVC
enum: OUTDIVIDER_MUXD DIVD
enum: STDBY_ENABLE DISABLED
enum: REFIN_RESET DISABLED
enum: SYNC_ENABLE DISABLED
enum: INT_LOCK_STICKY ENABLED
enum: DPHASE_SOURCE DISABLED
enum: PLLRST_ENA DISABLED
enum: INTFB_WAKE DISABLED

